<h2>Programming Books List</h2>
<button (click)="handleClick()" [disabled]="isDisabled">Disabled</button>
<button (click)="isShowing = !isShowing">
  {{ isShowing ? "Hide Books" : "Show Books" }}
</button>
<br />
<input type="text" [(ngModel)]="myName" />
<p>{{ myName }}</p>

<ul *ngIf="isShowing" class="d-flex justify-content-around">
  <ng-container *ngFor="let singleBook of books; let i = index">
    <app-book (bookEmitter)="addToCart($event)" [book]="singleBook"></app-book>
  </ng-container>
</ul>
